@charset "ISO-8859-1";


.xx {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
  box-sizing: border-box;
   --surface-color: #fff;
  --curve: 40;
}

.cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image1 {      
  width: 100%;
  height: 60%;
}

.card__overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card1:hover .card__overlay1 {
  transform: translateY(0);
}

.card__header1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc1 {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc1 path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card1:hover .card__header1 {
  transform: translateY(0);
}

.card__thumb1 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title1 {
  font-size: 2em;
  margin: 0 0 .3em;
  color: red;
}

.card__tagline1 {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status1 {
  font-size: 1em;
  color: #D7BDCA;
}

.card__description1 {
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    